body,html{
    overflow-x: hidden;
}
.navbar-brand img{
    width: 100px;
}
.login_logging_btn{
    background-color: #E9661D;
    border-radius: 25px;
    border: none;
    padding: 10px;
    color: white;
    width:8em;
}
.not_login_logging_btn{
    background-color: transparent;
    border: none;
    width:8em;
    text-decoration: underline;
}
.nav-link{
    border-bottom: 2px solid transparent;
}
.nav-link.active{
    border-bottom: 2px solid #E9661D;
}
.landing_page{
    padding: 20px;
    width: 100vw;
}
.home_heading{
    font-size: 85px;
    font-weight: 500;
    line-height: 1.2em;
}
.bg_pattern img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    z-index: -1;
    opacity: 0.05;
}
.bg_spotlight {
    width: 300px;
    height: 300px;
    background-color: #FF951C;
    position: fixed;
    top: -100px;
    right: 0px;
    border-radius: 40%;
    box-shadow: 0 0 5px 5px #FF951C, 
                0 0 15px 15px #ff951ce9,
                0 0 55px 55px #ff951cbf,
                0 0 120px 120px #ff951ca8,
                0 0 200px 200px #ff951c8a,
                0 0 300px 300px #ff951c3e;
    opacity: 0.3;
    transform: rotate(30deg);
}

.main_landing_img{
    padding: 30px;
    height: 80vh;
    display: flex;
    justify-content: right;
    align-items: top;
}

.circle-container{
    background-image: url(../img/home/ring.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: -webkit-fill-available;
    position: relative;
}


.image_container_anim{
    height: 100vh;
    width: 100vh;
}
.quad{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quad1{
    height: 50vh;
    width: 50%;
}
.quad2{
    height: 50vh;
    width: 50%;
}
.quad3{
    height: 50vh;
    width: 50%;
}
.quad4{
    height: 50vh;
    width: 50%;
}
.food-img{
    width: 70%;
}
.img_main_container{
    width: 50vh;
    height: 50vh;
    position: relative;
    scale: 1.5;
    transform-origin: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_container_anim{
    position: absolute;
    top: -50vh;
    right: -50vh;
}
.img_main_container .testing_ring{
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
}
.pizza_making_img img{
    width: 20em;
}

.bg_pattern .arrow_image{
    width: 14em;
    height: 14em;
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 10000;
    opacity: 1;
}
.bg_pattern .Decore_image{
    width: 20em;
    height: 1em;
    position: absolute;
    top: 465px;
    left: 0px;
    z-index: 10000;
    opacity: 1;
}
.cart_button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FF951C;
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_page .order_page_heading {
    border-bottom: 7px solid transparent; 
    border-image: url('../img/home/border.png') 20 stretch; 
}
.order_page_date{
    font-size:x-large;
}
.board_data{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}
.order_page_board {
    background-image: url('../../../static/assets/img/order/rect.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.board_heading {
    text-align: center;
    color: white;
}

.board_heading h2 {
    font-size: 28px;
}

.board_heading hr {
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 2px;
    opacity: 1;
}

.board_list_food ul {
    list-style-type: none;
    padding-left: 0;
}

.board_list_food li {
    font-size: 25px;
    font-weight: 600;
}

.board_data_button {
    text-align: center;
}

.quantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.quantity input {
    max-width: 50px;
    text-align: center;
}
.board_heading li{
    list-style: none;
}
.button1{
    background-color: #FFF2E0;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.quantity{
    width: 5em;
}
.quantity button{
    border: none;
    background-color: white;
    color: #FF951C;
    font-weight: 700;
}
.quantity input{
    border: none;
    background-color: #FF951C;
    color: white;
    font-weight: 700;
    text-align: center;
}
.add-to-cart{
    width: 5em;
    border: none;
    background-color: #FF951C;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 1500px) {
    .button1{
        width: 80%;
    }
}

.bt01 {
    background-color: #FF951C;
    color: var(--cor4);
    height: 45px;
    border-radius: 100px;
    border: none;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bt01:hover {
    background-color: #fd8f11;
}



















.produto {
    width: 310px;
    height: 516px;
    padding: 10px;
    display: inline-block;
}

.desc {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(245, 71, 71, 0.197));
    border-radius: 20px;
    width: 310px;
    height: 368px;
}

.img_produto > img {
    margin-bottom: -110px;
}

.img_produto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -20px;
    z-index: -1;
    position: relative;
}

#offers1, #offers2, #offers3 {
    text-align: center;
    height: 516px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#elipse_color {
    width: 248.31px;
    height: 248.31px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgba(245, 71, 71, 0), rgba(245, 71, 71, 0.211), rgba(253, 197, 94));
}
#foto_prod{
    margin: 0 auto;
    margin-top: -205px;
    width: 200.31px;
    height: 200.31px;
    border-radius: 50%;
}
#elipse_nocolor {
    margin-top: -232px;
    width: 216.31px;
    height: 216.31px;
    background-color: #ffffff;
    border-radius: 50%;
}

#preco_prod {
    background-color: #FF951C;
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: -30px;
    color: var(--cor4);
    text-align: center;
    font-size: 18px;
    font-family: 'Passion One', cursive;
    margin-left: 125px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avaliacoes {
    width: 310px;
    min-height: 300px;
    margin-top: -115px;
    background-image: linear-gradient(transparent,#fcf3ea, #ff951c41);
    border-radius: 20px;
    position: relative;
}

#ava_tot {
    padding-top: 100px;
    margin-left: 80px;
    display: flex;
}

#ava_photo2, #ava_photo3 {
    margin-left: -20px;
}

#av_nota {
    display: flex;
    width: 72px;
    height: 28px;
}

#av_nota > img {
    margin-top: 4px;
    margin-left: 10px;
}

#av_nota > p {
    margin-top: 8px;
    margin-left: 5px;
}

#descri_prod > h2 {
    color: var(--cor2);
    margin-top: 30px;
}

#descri_prod > div > p {
    color: var(--cor1);
    max-width: 100%;
    padding: 0 10px;
}

#avaliacoes > button {
    position: absolute;
    bottom: -20px;
    right: 30px;
}

/* Pequeno */
@media screen and (max-width: 800px) {
    #p2_off1, #p3_off1, #p4_off1{
        display: none;
    }
}

@media screen and (max-width: 1140px) {
    #p3_off1{
        display: none;
    }
}

@media screen and (max-width: 1445px) {
    #p4_off1{
        display: none;
    }
}

/* Grande */
@media screen and (min-width: 1025px) {
    .subtitle {
        max-width: 856px;
    }
}










.why_tfl_li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}





.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


footer h2,
footer h5{
    color: #FF951C;
}



  