{% load static %}
<nav class="navbar navbar-expand-lg" style="z-index: 10000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#landing_page" style="z-index: 10000;">
        <img src="{% static 'assets/img/home/tfl_logo.png' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;justify-content: center;gap: 25px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#why_tfl">Why <span style="color: #E9661D;">TFL?</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#best_seller">Explore menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#today_menu">Today’s Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#how_works">How It Works?</a>
          </li>
        </ul>
        <form class="d-flex">
          <button onclick="location.href='{% url 'account_signup' %}'" class="not_login_logging_btn" type="button">Sign Up</button>
          <button onclick="location.href='{% url 'account_login' %}'" class="login_logging_btn" type="button">Login</button>
        </form>
      </div>
    </div>
  </nav>